<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic native tests
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  The world is your oyster, Ammar.
  <p *ngIf="errorMessage">errorMessage</p>
  <p *ngIf="ocrText" >{{ocrText}}</p>
  <div margin-top>
    <button ion-button (click)="addImage()">Add image</button>
    <button ion-button (click)="getBatteryStatus()">Get battery status</button>
    <!-- <button ion-button *ngIf="!!base64Image" (click)="analyseImage()"> -->
    <button ion-button *ngIf="!!base64Image" (click)="analyse()">
      Analyse image
      <ion-spinner *ngIf="showSpinner"></ion-spinner>
    </button>
  </div>
  <div margin-top *ngIf="!!batteryLevel">
    <p>The battery level is at {{batteryLevel}}% and the device is {{pluggedInConjunction}} plugged in.</p>
  </div>
  <div margin-top *ngIf="!!base64Image">
  <!-- <div> -->
    <img #ocrImage [src]="base64Image" />
    <!-- <img #ocrImage src="/assets/imgs/ocrTestImg.png" /> -->
  </div>
  <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
  <button ion-button full color="danger" (click)="clearPad()">Clear</button>
  <button ion-button full color="secondary" (click)="savePad()">Save</button>
  <img *ngIf="signature" #signatureImage [src]="signature" />
</ion-content>
