<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  The world is your oyster, Ammar.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>
  <div>
    <button ion-button (click)="addImage()">Add image</button>
    <button ion-button (click)="getBatteryStatus()">Get battery status</button>
  </div>
  <div margin-top *ngIf="!!batteryLevel">
    <p>The battery level is at {{batteryLevel}}% and the device is {{pluggedInConjunction}} plugged in.</p>
  </div>
  <div margin-top *ngIf="!!base64Image">
    <img [src]="base64Image" />
  </div>
</ion-content>
